@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=VT323&display=swap');

:root {

    --font-colour: rgb(229, 229, 229);
    --border-colour: rgb(72, 72, 72);

}

* {
    color: var(--font-colour);
}

body {

    margin: 0;
    display: flex;
    justify-content: space-around;
    background: #0a0a0a;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    background: #1c0d00;
    background: radial-gradient(circle, rgb(35, 16, 0) 0%, rgba(0, 0, 0, 1) 100%);
    overflow-x: hidden;

}

main {
    display: flex;
    flex-direction: column;
    width: 48rem;
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 100dvh;
    background: #1a1a1a;
    background: linear-gradient(0deg, rgb(21, 21, 21) 0%, rgba(8, 8, 8, 1) 100%);
    box-shadow: 0px 0px 4px black;
    border-left: 1px solid var(--border-colour);
    border-right: 1px solid var(--border-colour);
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    padding-top: 10px;
}

.logobar {
    display: flex;
    align-items: center;
    user-select: none;
}

.logo {
    filter: invert(100%) sepia(5%) saturate(260%) hue-rotate(346deg) brightness(117%) contrast(80%);
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 5px 0px;
}

nav {
    height: fit-content;
    display: flex;
    background: #171717;
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 43%, rgba(33, 33, 33, 1) 76%, rgba(23, 23, 23, 1) 100%);
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    font-weight: 900;
}

.content {
    padding: 5px 0px;
}

footer img {
    image-rendering: pixelated;
}

button {

    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;

}

.spacer {
    margin: 10px 0px;
    margin-bottom: 5px;
    border-top: 1px dashed var(--border-colour);
}

.list {
    display: flex;
    flex-direction: column;
    background: rgb(15, 15, 15);
    max-width: 100%;
}

.list:not(.gallery) {
    font-size: 14px;
}

.list a {
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
}

.list.gallery a {
    font-weight: 700;
}

.list.gallery span.game-title {
    display: none;
}

.list a img {
    display: none;
}

.list a .article-timestamp {
    text-decoration: none;
}

.list a .article-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 2px 0px;
}

.list:not(.gallery) a .article-content span.article-metadesc {
    display: none;
}

.list a .article-title {
    text-decoration: underline;
    max-width: 75%;
    text-overflow: ellipsis;
    max-height: 1lh;
    overflow: hidden;
    white-space: nowrap;
}

.list:not(.gallery) a:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.split {
    display: flex;
    flex-direction: row;
}

article.game a {
    display: flex;
    justify-content: start;
    align-items: start;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

article.game h3 {
    margin: 0px;
    font-weight: 900;
    text-decoration: underline;
}

article.game .game-desc p {
    font-weight: 600;
    margin-top: 0px;
}

article.game img {
    width: 150px;
    margin-right: 5px;
}

.progress-bar {
    width: 50%;
    height: 14px;
    background-color: rgb(9, 9, 9);
    display: flex;
}

.progress {
    width: 10%;
    background-color: var(--font-colour);
    height: 100%;
    margin: 0px 2px;
}

.article-container {
    font-weight: 400;
}

.article-container img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.timestamp {
    margin: 0;
    filter: opacity(50%);
}

.article-banner {
    width: 100%;
    height: 316px;
    object-fit: contain;
}

.articles.gallery {

    flex-direction: row;
    flex-wrap: wrap;

}

.gallery a {
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.gallery a .article-content {
    flex-direction: column-reverse;
}

.gallery a img {
    width: 100%;
    max-height: 104px;
    height: auto;
    object-fit: contain;
    display: block;
}

.gallery a span.article-timestamp {
    font-size: 14px;
    filter: opacity(50%);
}

.gallery a span.article-title {
    max-width: 100%;
}

.gallery a span.article-metadesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    filter: opacity(80%)
}

button,
select {
    border: none;
    background-color: black;
    background: #171717;
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 43%, rgba(33, 33, 33, 1) 76%, rgba(23, 23, 23, 1) 100%);
    border: solid 1px var(--border-colour);
    border-radius: 4px;
    padding: 5px;
}

button.toggle {
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0px 5px;
}

.page img {
    width: 100%;
    object-fit: contain;
}

.page h1,
.page h2,
.page h3,
.page h4 {
    font-weight: 900;
}

.page h4 {
    margin: 0;
}

.page p.dialog {
    margin: 0;
    padding-left: 20px;
}

.spine {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

#webnovel-title {
    margin-bottom: 0;
}

.page .comment {
    font-size: 12px;
    filter: opacity(50%);
}

.game-banner {
    width: 100%;
    object-fit: contain;
}

.game-content {
    display: flex;
    flex-direction: row;
}

.game-content .left {
    padding-right: 6px;
    box-sizing: border-box;
    max-width: 75%;
}

.game-content .right {
    width: 25%;
    min-width: 25%;
    margin-top: 10px;
}

.game-content .right ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    font-size: 12px;
}

.right .info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
    background: #171717;
    background: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(15, 15, 15, 1) 43%, rgb(20, 20, 20) 76%, rgba(10, 10, 10, 1) 100%);
    border: solid 1px var(--border-colour);
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px black inset;
}

.info .subtitle {
    font-weight: 900;
    font-size: 16px;
}

.info hr {
    width: 90%;
    border: 1px dashed var(--border-colour);
}

.game-tags {
    display: flex;
    flex-wrap: wrap;
}

.game-tags span {
    font-weight: 700;
    padding: 5px;
    display: block;
}

.list.games {
    padding: 2px;
}

.unav {
    text-decoration: none !important;
    filter: opacity(50%);
}

.unav span {
    text-decoration: none !important;
}

.screenshot-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.screenshot-gallery a {
    width: 31%;
    max-width: 31%;
    margin: 5px;
    flex: 1 0 30%;
}

.screenshot-gallery a img {
    width: 100%;
}

.game-content p {
    font-weight: 500;
}

.btns {
    user-select: none;
}
.bg-wrapper {
    position: absolute;
    width: 90em;
    height: 100%;
    z-index: -1;
    
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}

@media screen and (max-width:775px) {
    main {
        width: 100%;
    }
    .banner {display: none;}
}

@media screen and (max-width:405px) {
    .game {
        flex-direction: column;
    }

    .game img {
        width: 100% !important;
    }

    .gallery a {
        max-width: 50% !important;
    }

    article.game a {
        flex-direction: column;
    }

}
@media screen and (max-width:460px) {
    .screenshot-gallery a {
        width: 50% !important;
        max-width: 50% !important;
        flex: 1 0 40% !important;
    }
}