body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    margin-top: 20px;
}

* {
    transition: 0.2s;
}

img {
    image-rendering: optimizeSpeed;
}

div.centre {
    display: flex;
    width: 100vw;
    justify-content: center;
}

div.main {

    width: 70vw;
    max-width: 70vw;
    background: #212121;
    background: linear-gradient(180deg, rgba(23, 23, 23, 1) 0%, rgba(13, 13, 13, 1) 100%);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(23, 23, 23);
    margin-bottom: 40px;

}

hr {
    filter: opacity(10%);
    width: 50%;
}

img.efclogo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(14deg) brightness(105%) contrast(101%);
}

.topbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.logobar {
    display: flex;
    align-items: center;
}

.logobar h1 {
    font-size: 30px;
    margin: 0;
    margin-left: 5px;
}

nav {
    margin-top: 10px;
    background: #141414;
    background: linear-gradient(0deg, rgba(28, 28, 28, 1) 0%, rgba(32, 32, 32, 1) 100%);
    border-radius: 4px;
    display: flex;
    border: 2px solid rgb(23, 23, 23);
    box-shadow: 0px 2px 2px black;
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-weight: 900;
}

nav a.selected {
    padding: 10px 20px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    border: none;
    background: #141414;
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 0%, rgba(28, 28, 28, 1) 100%);
}

.news-gallery {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.news-post {
    display: flex;
    flex-direction: column;
    width: 340px;
    cursor: pointer;
    margin: 0px 5px;
}

.news-post:hover {
    transform: scale(101%);
}

.news-timestamp {
    filter: opacity(50%);
    font-size: 10px;
}

.news-post img {
    width: 100%;
    height: 191px;
    object-fit: cover;
}

.news-shortdesc {
    filter: opacity(70%);
    font-size: 14px;
}

.news-title {
    text-overflow: ellipsis;
    max-height: 1lh;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.news-game {
    font-size: 14px;
    background-color: rgb(27, 27, 27);
    width: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
}

.news-game span {
    filter: opacity(50%);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.person {
    display: flex;
    margin-bottom: 10px;
}

.person img {
    width: 85px;
    height: 85px;
    margin: 5px;
    object-fit: cover;
}

.person-info {
    display: flex;
    flex-direction: column;
}

.person-name {
    font-weight: 600;
}

.person a {
    text-decoration: none;
    color: pink;
}

.games {
    display: flex;
}

.game {
    margin: 0px 5px;
    cursor: pointer;
    width: fit-content;
}

.game:hover {
    transform: scale(101%);
}

.game img {
    background-color: rgb(61, 60, 60);
    width: 110px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;
}

.news-overlay {

    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.354);
    position: fixed;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;

}

.news-article {
    background-size: 100% !important;
    background-position: center;
    width: 50vw;
    margin-top: 40px;
    border-radius: 5px;
    border: 2px solid rgb(23, 23, 23);
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transform: scaleY(-1);

}

.news-container {
    background: #212121;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.9) 0%, rgba(13, 13, 13, 0.9) 100%);
    backdrop-filter: blur(40px);
    transform: scaleY(-1);
}

.news-content img {
    max-width: 100%;
}

.news-content {
    filter: opacity(90%);
}

.news-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-inner {
    padding: 10px;
}

.news-inner h2 {
    margin: 0;
    margin-bottom: 5px;
}

.news-close {
    position: fixed;
    float: right;
    transform: translateX(-45px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
}


.game-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: black;
    margin-bottom: -5px;
}

.game-container {
    background-size: 100% !important;
}

.game-content {
    display: flex;
    background: #212121;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.9) 0%, rgba(13, 13, 13, 0.9) 100%);
    backdrop-filter: blur(40px);
}

.game-content h1,
h2 {
    margin: 0;
}

.game-content p {
    margin-top: 5px;
    filter: opacity(80%);
}

.game-content .left {
    max-width: 75%;
    min-width: 75%;
}

.game-content .right {
    max-width: 25%;
    min-width: 25%;
}

.game-content .right .info {
    display: flex;
    background-color: rgba(34, 34, 34, 0.624);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    flex-direction: column;
}

.info .subtitle {
    font-weight: 600;
    font-size: 14px;
}

.game-tags {
    display: flex;
    flex-wrap: wrap;
}

.game-tags span {
    display: block;
    width: fit-content;
    background-color: rgb(51, 51, 51);
    border: solid 1px rgb(28, 28, 28);
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
    box-shadow: 0px 1px 2px black;
    font-weight: 900;
    user-select: none;
}

.info ul {
    padding-left: 15px;
    margin: 0;
}

.play-button {
    height: 40px;
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    background: #2a9b72;
    background: linear-gradient(355deg, rgb(36, 134, 98) 0%, rgba(97, 199, 133, 1) 80%);
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 5px;
    border: 2px solid #2a9b72;
    box-shadow: 0px 0px 5px black;
}

.play-button:hover {
    background: #2a9b72;
    background: linear-gradient(355deg, rgb(42, 159, 116) 0%, rgb(99, 230, 154) 80%);
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news-list-line {
    display: flex;
    align-items: center;
}

.news-list-line hr {
    height: 0px;
    width: 75%;
}

.news-list-item {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.news-list-item img {
    width: 200px;
    height: 112px;
    object-fit: cover;
}

.news-list-item h3 {

    margin: 0;
    margin-top: -2px;
    max-width: 90%;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-list-item p {
    margin-left: 10px;
}

@media screen and (max-width:1050px) {

    /*currently hacky but im lazy*/
    .main {

        width: 90vw !important;
        max-width: 90vw !important;

    }

    .game-content {
        flex-direction: column-reverse !important;
    }

    .left,
    .right {
        max-width: 100% !important;
        width: 100% !important;
    }

    .right {
        margin-bottom: 10px;
    }

    .news-article {
        width: 80vw !important;
    }

    .news-post {
        width: 130px;
    }
}