body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left {
    width: 25%;
}
form {

    padding: 5px;
    display: flex;
    flex-direction: column;

}
textarea {
    resize: none;
    height:36ch;
}
.news-article {
    margin: 0 !important;
}

input, textarea {
    color: white;
    background: rgb(32, 32, 32);
    border: none;
    box-shadow: 0px 0px 2px black inset;
    padding: 5px;
    font-family: "Tahoma";
}
input:focus, textarea:focus {
    border: none;
    outline: none;
}