.truecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

fieldset {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row *:not(label) {
    width: 100%;
}